# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=proep
DB_USER=pro
DB_PASSWORD=Projson!

# CORS
FRONTEND_URL=http://localhost:5173
